.main .addUser label {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.main .addUser form {
    width: 100%;
}

.main .addUser .name {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 10px;
    outline: 0;
    margin: 5px 0 0 0;
}

.main .addUser .nameUser {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 10px;
    outline: 0;
    margin: 5px 0 0 0;
}

.main .addUser .btn-addUser {
    border: 0;
    color: #ffffff;
    border-radius: 3px;
    background: #28a745;
    letter-spacing: 1px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}